.Toolbar {
  display: flex;
  align-items: center;
  padding: 10px;
  color: black;
  margin-bottom: 15px;
  background-color: rgba(131, 238, 229, 0.883);
  position: sticky;
  top: 0;
  left: 0;
  justify-content: space-between;
}

@media (max-width: 549px) {
  .Toolbar nav {
    display: none;
  }
}
