.CoffePreview {
  margin-top: 20px;
  width: 450px;
  max-width: 450px;
  margin-right: 1.5rem;
  border-radius: 20px;
  background-color: rgba(184, 132, 55, 0.924);
  padding: 10px;
  height: 250px;
  height: 100%;
}
.color {
  width: 450px;
  height: 250px;
  min-height: 250px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  margin-left: -10px;
  padding: 10px;
}
.price {
  font-size: 25px;
  font-weight: bold;
}
