.Modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .content {
      display: flex;
      position: fixed;
      margin-top: 50px;
      flex-direction: column;
      top: 15%;
      left: 30%;
      width: 40%;
      background-color: rgb(38, 153, 230);
      padding: 1rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, .5);
      transition: transform .3s ease-out;
     z-index: 1;
      
    }
    @media (max-width: 800px) {
      .content {
        width: 80%;
        left: 10%;
      }
    }