.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  display: flex;
  position: fixed;
  margin-top: 50px;
  flex-direction: column;
  top: 15%;
  left: 30%;
  width: 40%;
  background: linear-gradient(170deg, #eeb681 -17.33%, rgba(74, 153, 211, 0) 75.91%),
  linear-gradient(-45deg, rgb(238, 225, 111), rgb(238, 225, 111));
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-out;
  z-index: 1;
}
@media (max-width: 800px) {
  .content {
    width: 80%;
    left: 10%;
  }
}
