.Logo {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 5px 25px;
}
.Logo img {
  height: 3.5rem;
  margin: 0.5rem;
}
@media (max-width: 550px) {
  .Logo {
    margin: auto;
    margin-top: 20px;
  }
}
