.CoffeControl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
    
}
.CoffeControl .ingredient div {
    position: static;
    margin: 0 .5rem;
  }
.CoffeControl div button:hover{
    background-color: rgb(12, 204, 204);
    color: white;
}