.Button {
  border: 0;
  margin: 0 0.5rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background-color: rgb(207, 148, 20);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Button:not(:disabled):hover {
  background-color: rgb(240, 243, 51);
}
.Button:focus {
  outline: none;
}
.Button:disabled {
  opacity: 0.5;
}

.green {
  background-color: rgb(81 211 62 / 98%);
}
.green:not(:disabled):hover {
  background-color: rgb(49, 172, 0);
}
