.CoffeControlos {
  margin-top: 17px;
  flex: 0 0 250px;
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgba(238, 160, 14, 0.76);
  color: white;
  min-height: 250px;
  height: 100%;
  text-align: center;
}
.Button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
/* .Button{ */
/* display: flex; */
/* justify-content: center; */
/* } */
