.Drawer .content {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  font-size: 26px;
  color: white;
  background-color: rgba(235, 186, 81, 0.74);
  transition: transform 0.3s ease-out;
}
.Drawer {
  display: flex;
  justify-content: center;
}

.open {
  transform: translateX(0);
}
.close {
  transform: translateX(-270px);
}

@media (min-width: 550px) {
  .Drawer {
    display: none;
  }
}
