.DrawerOpen {
  height: 3rem;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  cursor: pointer;
}

.DrawerOpen > div {
  height: 3px;
  width: 2rem;
  background-color: #fff;
}

.DrawerOpen > div:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media (min-width: 550px) {
  .DrawerOpen {
    display: none;
  }
}
