.NavItem a {
  color: white;
  border-bottom: 5px solid transparent;
  text-decoration: none;
  display: block;
  padding: 20px 10px 10px;
}
.NavItem a:hover {
  border-color: rgba(238, 160, 14, 0.76);
  background-color: rgb(241, 183, 116);
}
.NavItem a:active,
.NavItem a.active {
  border-color: rgba(238, 160, 14, 0.76);
}
@media (max-width: 680px) {
  .NavItem a {
    border-right: 10px solid transparent;
    border-bottom: none;
  }
}
