@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "New Tegomin", serif;
  font-size: 26px;
  padding: 0;
  margin: 0;
  height: 100%;
}
